h4{
  color: #F98407;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
.modal-trigger{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 25%;
  background-color: #F98407;
  color: #FFF1D0;
}
.btn:hover{
  background-color: #5B5B5B;
  color: #FFF1D0;
}
.btn{
  background-color: #F98407;
  color: #FFF1D0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
.page-footer{
  background-color: #086788;
}
.nav-wrapper{
  background-color: #086788;
  color: #FFF1D0;
}
.card-image{
  min-height: 225px;
  background-size: cover;
  background-position: center top;
}
.search-margin{
  margin-left: 30px;
  margin-right: 30px;
}
.submit-application{
  margin-top: 25px;
}
.text{
  color: #5B5B5B;
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  vertical-align: text-top;
}
.feature-image{
  min-height: 301px;
}
